body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ededed;
  font-family: "Montserrat", sans-serif;
  color: #000000e1;
  user-select: none;
}

.etch-header {
  text-align: center;
  margin-bottom: 60px;
}

.etch-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.etch-menu-container {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}

.etch-menu {
  border: 1px solid #000000e1;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.05s ease-in;
}

.etch-menu:hover {
  transform: scale(1.04);
  background-color: #cfcece;
}

.etch-box {
  width: 560px;
  height: 560px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
}

.etch-menu-highlight {
  background-color: #000000e1;
  color: white;
}

.etch-menu-highlight:hover {
  background-color: #000000e1;
  color: white;
}


.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.black-color {
  background-color: black;
}
